# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build
build/
dist/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/